version: '2'
services:
  mysqldb:
    image: mysql:5.6
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: tpachato
      MYSQL_PASSWORD: mysql
      MYSQL_ROOT_PASSWORD: mysql        
  application:
    image: achat
    build: .
    restart: always
    depends_on:
      - mysqldb 
    ports:
      - 8081:8081
